<div class="user-details">
  <h1> whoami </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Offensive Security</h2>
            <i class="devicon-redhat-plain colored"></i>
            <i class="fa fa-unlock"></i>
      <p>In offensive security</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
            <i class="devicon-python-plain colored"></i>
            <i class="devicon-visualstudio-plain colored"></i>
      <p>Python<br></p>
    </div>
    <div class="tech">
      <h2>Out</h2>
            <i class="devicon-linux-plain colored"></i>
            <i class="devicon-windows8-original colored"></i>

            <p>Choosing a good operating system is essential since this will be your usual work environment.<br></p>
    </div>
</div>

