 <div class="user-details">
  <h1> Skills </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>In offensive hacking it is necessary to master some tools.
1-Contact.
2-Information collection phase.
3-Threat modeling phase.
4-Vulnerability Analysis Phase.
5-Exploitation Phase.
6-Post-Exploitation Phase.
7-Report Phase.</p>
    </div>
    <div class="tech">
      <h2>Scripting</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>You also need to understand how programming languages work.</p>
    </div>
    <div class="tech">
      <h2>Requirements</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Obviously you need a good methodology and organization to carry out penetration tests and choosing a good operating system is essential since this will be your usual work environment.</p>
    </div>
</div>
