<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="GitHub" src="{{ "/assets/img/GitHub-Emblem.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Github </h3>
    <ul>
      <li> Where the world builds software.</li>
    </ul>
    <p>During my learning path I have taken many notes, I have built specific tools to facilitate my tasks and of course I have also used the tools, exploits, code snippets, and hundreds of resources provided by the community.<br>
They are very useful and you can find everything you need.</p>
    <a class="project-link" href="https://github.com/PharaOhms?tab=repositories">Repositories</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="eJPT" src="{{ "/assets/img/eJPT.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Certifications </h3>
    <ul>
      <li> eJPTv1 </li>
      <li> Road to eCPPTv2 </li>
    </ul>
    <br><b>Skills</b><br>
       
      <br><li>TCP/IP<br>
       <li>IP routing<br>
       <li>LAN protocols and devices<br>
       <li>HTTP and web technologies<br>
       <li>Penetration testing processes<br>
       <li>Methodologies<br>
       <li>Vulnerability assessment of networks<br>
       <li>Vulnerability assessment of web applications<br>
       <li>Exploitation with Metasploit<br>
       <li>Web application manual exploitation<br>
       <li>Information gathering and reconnaissance<br> </p>
    <a class="project-link" href="https://verified.elearnsecurity.com/certificates/92d3bde8-9c6d-4953-bde4-e88352a4801a">Verify Certificate</a>
  </div>
</div>
<div class="user-details">
  <h1> HTB </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="htb" src="{{ "/assets/img/HTB-Logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CTF Capture The Flag </h3>
    <ul>
      <li>Personal collection of write-ups and walkthroughs of my adventures through <a href="https://www.hackthebox.com/">hackthebox.</a></li> <li>Includes retired machines and challenges. </li>
    
    <p><li>Hack the Box is an online platform that unites hundreds of thousands of hackers. At the core of HTB is a network of machines ready to be breached and for you to practice your cybersecurity skills, completely legally.</li></p>
    <p><a href="./htb/Jerry/index.html">HackTheBox Machine - Jerry</a></p>
    <ul>
  </div>


