<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/GitHub-Emblem.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Github </h3>
    <ul>
      <li> Where the world builds software.</li>
    </ul>
    <p>During my learning path I have taken many notes, I have built specific tools to facilitate my tasks and of course I have also used the tools, exploits, code snippets, and hundreds of resources provided by the community.<br>
They are very useful and you can find everything you need.</p>
    <a class="project-link" href="https://github.com/PharaOhms?tab=repositories">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ejpt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Certifications </h3>
    <ul>
      <li> eJPT </li>
    </ul>
    <p>Overview
    The eLearnSecurity Junior Penetration Tester (eJPT) is a 100% practical certification on penetration testing and information security essentials.<br>
       Knowledge Domains<br>
       By obtaining the eJPT, your skills in the following areas will be assessed and certified:<br>
       * TCP/IP<br>
       * IP routing<br>
       * LAN protocols and devices<br>
       * HTTP and web technologies<br>
       * Essential penetration testing processes and methodologies<br>
       * Basic vulnerability assessment of networks<br>
       * Basic vulnerability assessment of web applications<br>
       * Exploitation with Metasploit<br>
       * Simple web application manual exploitation<br>
       * Basic information gathering and reconnaissance<br> </p>
    <a class="project-link" href="https://elearnsecurity.com/product/ejpt-certification/">Check it out</a>
  </div>
</div>

