<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Github </h3>
    <ul>
      <li> Where the world builds software.</li>
    </ul>
    <p>During my learning path I have taken many notes, I have built specific tools to facilitate my tasks and of course I have also used the tools, exploits, code snippets, and hundreds of resources provided by the community.
They are very useful and you can find everything you need.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Certifications </h3>
    <ul>
      <li> eJPT </li>
    </ul>
    <p>Overview
       The eLearnSecurity Junior Penetration Tester (eJPT) is a 100% practical certification on penetration testing and information security essentials.
       Knowledge Domains
       By obtaining the eJPT, your skills in the following areas will be assessed and certified:
       TCP/IP
       IP routing
       LAN protocols and devices
       HTTP and web technologies
       Essential penetration testing processes and methodologies
       Basic vulnerability assessment of networks
       Basic vulnerability assessment of web applications
       Exploitation with Metasploit
       Simple web application manual exploitation
       Basic information gathering and reconnaissance </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
